<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAROL CRUD</title>
    <link rel="stylesheet" href="/styles.css">
    <script type="module" src="/script.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="container-component">
            <H1>GESTION COMPRAS</H1>
            <div class="container-buttons">
                <button class="btn primary categoria">Categorias</button>
                <button class="btn primary">Clientes</button>
                <button class="btn primary">Compras</button>
                <button class="btn primary">Compra - Producto</button>
                <button class="btn primary">Producto</button>
            </div>
    
        </div>
    </div>
    
</body>
</html>







